<li>
  <span class="content"><%= link_to (image_tag note.user.avatar.url(:thumb), :class => "user_small"), note.user %></span>
  <span class="content"><b><%= link_to (note.user.name), note.user %></b></span>  
  <span class="content" style="padding-left:31px;padding-right:31px;">   
      <% if note.content.length > 600 %>
        <p><br><%= raw(truncate(note.content, length: 600)) %>
        <u><%= link_to "more", note %></u></p>
      <% else %>
        <p><br><%= raw(note.content) %></p>
      <% end %>
        <span class="timestamp"><%= time_ago_in_words(note.created_at) %> ago</span>
        <span class="timestamp"><%= link_to (note.page.name), note.page %></span>
        <% if current_user?(note.user) %>
          <%= link_to "delete", note, method: :delete,
                                     data: { confirm: 'You sure?' },
                                     title: note.content %>
        <% end %>   
      <hr>
  </span>      
</li>