<% provide(:title, @user.name) %>

<div class="row">
  <div class="span3" style="margin-bottom:10px;">
        <h3>
        <%= @user.name %>
      </h3>
  </div> 
</div> 
<div class="row">
  <aside class="span3">
    <section>
      <%= link_to (image_tag @user.avatar.url(:thumb)), @user %><br><br>
      <% if(@user == current_user) %>
        <%= link_to 'Add Profile Picture', edit_user_path(@user) %>
      <% end %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span9">
    <p><span class="glyphicon icon-map-marker"></span> <b>City, Country</b><br><br></p>
    <p>Profile Description</p>
  </div> 



  </div>  
  <div class="row">
    <div class="span3">
   <% if @user.interests.any? %>
    <h4>Interests</h4>

    <table style="margin-top:20px;margin-bottom:40px;">
      <tr>
      <% @interests.each do |interest| %> 
        <td><span class="glyphicon icon-ok"></span> <%= link_to interest.name, "../pages/#{interest.id}" %> </td>
      </tr>
      <% end %>
    </table>

  <% end %>
      </div>
  <div class="span9">
    <%= render 'follow_form' if signed_in? %>
  
    
    <% if @user.notes.any? %>
      <h4>Notes</h4>
      <ol class="notes">
        <%= render @notes %>
      </ol>
      <%= will_paginate @notes %>
    <% end %>
  </div>
</div>