<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <%= link_to (image_tag @user.avatar.url(:thumb)), @user %><br><br>
      <h1>
        <%= @user.name %>
      </h1>
      <% if(@user == current_user) %>
        <%= link_to 'Add Profile Picture', edit_user_path(@user) %>
      <% end %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <%= render 'follow_form' if signed_in? %>
  <% if @user.interests.any? %>
    <h4>Interests</h4>

    <table style="margin-top:20px;margin-bottom:40px;">
      <tr>
      <% @interests.each do |interest| %> 
        <td><span class="glyphicon icon-ok"></span> <%= link_to interest.name, "../pages/#{interest.id}" %> </td>
      </tr>
      <% end %>
    </table>

  <% end %>
    
    <% if @user.notes.any? %>
      <h4>Notes (<% @notes.count %>)</h4>
      <ol class="notes" style="margin-top:20px;">
        <%= render @notes %>
      </ol>
      <%= will_paginate @notes %>
    <% end %>
  </div>
</div>