<% provide(:title, @user.name) %>
  <div class="container">

<div class="row">
  <div class="col-md-3" style="margin-bottom:10px;">
        <h3>
        <%= @user.name %>
      </h3>
  </div> 
</div> 
<div class="row">
  <aside class="col-md-12">
    <section>
      <% if(@user == current_user) %>
        <%= link_to (image_tag @user.avatar.url(:medium), :size => "200x200"), edit_user_path(:id => @user.id, :type => "image") %>
      <% else %>
      <%= image_tag @user.avatar.url(:medium), :size => "200x200" %>
      <% end %>
      <p><br><%= @user.description %>
      <% if(@user == current_user) %>
        ( <%= link_to "Edit", edit_user_path(:id => @user.id, :type => "description") %> )
      <% end %>      
      </p>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>

    <section>
      <%= render 'follow_form' if signed_in? %>
    </section>

  </aside>
  
  </div>   

<% unless(@user == current_user) %>
  <div class="row">
    <div class="col-md-8">
      <%= link_to "Send Message", new_message_path(:id => @user.id), :class => "btn btn-large btn-primary" %>    
    </div>
  </div>
<% end %>

  <div class="row">
  <div class="col-md-8">
  <% if @user.interests.any? %>
    <h4>Interests</h4>

    <table style="margin-top:20px;margin-bottom:20px;">
      <tr>
      <% @interests.each do |interest| %> 
        <td><span class="glyphicon icon-ok"></span> <%= link_to interest.name, "../pages/#{interest.id}" %> </td>
      </tr>
      <% end %>
    </table>

  <% end %>
  </div>
</div>

  <div class="row">
  <div class="col-md-8">
    <% if @user.notes.any? %>
      <h4>Notes</h4>
        <div class="row">
          <%= render @notes %>
          <%= will_paginate @notes %>
        </div>   
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
  <h4>Activity Feed</h4>

  <% @activities.each do |activity| %>
    <div class="activity">
    <%= link_to activity.owner.name, activity.owner if activity.owner %>
      <%= render_activity activity %>
    </div> 
  <% end %>
  </div>
</div> 

</div> 