<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <% if @status == "relatedpage" %>  
 
   <div class="alert alert-info">
     <h6><span class="glyphicon icon-info-sign"></span> Related Page can be any other page that is related to this page, but not fully included by it.
     For example: if the page is "Cognitive Science", a related page might be "Anthropology".</h6><%= image_tag "relatedpageicon.gif" %> 
   </div>

  <hr>

 <% elsif @status == "subpage" %>  

      <div class="alert alert-info">
        <h6><span class="glyphicon icon-info-sign"></span> Subpage is a more specific page that is fully included by it's parent.
        For example: if the page is "Chemistry", a subpage might be "Organic Chemistry".</h6><%= image_tag "subpageicon.gif" %> 
      </div>
    <hr>

 <% else %>

      <div class="alert alert-info">
        <h6><span class="glyphicon icon-info-sign"></span> New Page can be created for any topic that could be taught at a university level. The Page name should be clear and neutral. Words in the name should be capitalized, except for articles, conjunctions, and prepositions less than five letters. For example: "Physics", "Economic History" or "Geomorphology of the Grand Canyon" are all correct. </h6><%= image_tag "newpageicon.gif" %>
      </div>
    <hr>

  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
    <%= hidden_field_tag 'parent', params[:id] %>
    <%= hidden_field_tag 'status', params[:status] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
