<div class="row">
  <div class="span2">
   <%= image_tag @page.image.url(:thumb) %> 
   <% if @page.image.path.nil? && current_user.present? %>
     <%= link_to "Add Image", edit_page_path(:id => @page.id, :type => "image"), :class => "btn btn-mini btn-link" %>
   <% end %>
 </div>

 <div class="span10">

<h5>
 <% if @parentpages.any? %>  
  <% @parentpages.each do |parentpage| %>
  <%= link_to parentpage.name, parentpage %>
  <% end %>
 <% else %> 
  <%= link_to 'Main Index', "../pages#index" %>
 <% end %>
</h5>

<h3><%= @page.name %></h3>

  <div style="margin-top:10px;margin-bottom:10px;padding-right:100px;">

  </div>

  <% if current_user.present? %>    

    <div class="btn-group">
      <%= link_to "Add Subpage", new_page_path(:id => @page.id, :status => "subpage"), :class => "btn btn-small btn-default" %>
      <%= link_to 'Add Related Page', new_page_path(:id => @page.id, :status => "relatedpage"), :class => "btn btn-small btn-default" %>    
      <% if !@follower %>
      <br><br>
      <%= button_to 'Add to Interests', follow_page_path(@page.id), :class => "btn btn-mini btn-primary" %>
      <% else %>
        <br><br>
        <p><span class="glyphicon icon-ok"></span> Status: Following</p>
      <% end %>        
    </div>

     <% if current_user.admin %> 
       <br><%= link_to 'Delete Page', page_path, :confirm => 'Are you sure you want to delete this page?', :method => :delete %>   
     <% end %>
  <% end %>

      <% if @subpages.any? %> 
        <table style="margin-top:20px;">
          <tr>
            <% @subpages.each do |subpage| %>
              <tr>
                <td> <span class="glyphicon icon-chevron-right"></span> <%= link_to subpage.name, subpage %> </td>
              </tr>
            <% end %>
         </table>
      <% else %>        
        <br>
      <% end %>

    <hr>

  </div>
</div>

<div class="row">
  <div class="span8 offset2">
        <h4>Notes</h4>
      <% if current_user.present? %>
        <%= link_to 'Write Note', new_note_path(:id => @page.id), :class => "btn btn-mini btn-inverse" %>
      <% end %>
      <% if @notes.any? %>
        <br><br>
        <ol class="notes">
          <%= render @notes %>
        </ol>
          <%= will_paginate @notes %>
      <br>
      <% else %>
        <div class="emptypage">
          <h5>No Notes yet...</h5>
          <p>Be the first one to write Notes to <%= @page.name %></p>
        </div>
      <% end %>
  </div>
</div>

<div class="row">
  <div class="span8 offset2">
      <% if @relatedpages.any? %> 
        <h4>Related Pages</h4>
        <table>
          <tr>
            <% @relatedpages.each do |relatedpage| %>
              <tr>
                <td width="20" style="padding-top:1px;padding-right:10px;"><%= link_to (image_tag relatedpage.image.url(:thumb)), relatedpage %></td>
                <td><%= link_to relatedpage.name, page_path(:id => relatedpage.id, :backlink => @page.name) %> </td>
              </tr>
            <% end %>
         </table>     
      <% end %>
  </div>
</div>

<% if current_user.nil? %>
  <div class="row">
    <div class="span8 offset2" style="margin-top:50px;border-style:solid;border-width:1px;padding:10px;">
      To edit Page you have to be <%= link_to "Signed in", signin_path %>.
    </div>
  </div>
<% end %>      
