<div class="row">
  <div class="span1">
     <%= image_tag @page.image.url(:thumb) %> 
  </div>
  <div class="span9">
    <h3><%= @page.name %></h3>

<% if @page.definition.present? %>
    <p><%= @page.definition %></p>
      <% else %>
    <% if current_user.present? %>
    <p><%= link_to "Describe " + @page.name, edit_page_path(:id => @page.id, :type => "definition")  %>
      <% end %>
      <% if @page.image.path.nil? %>
           / <%= link_to "Add Image", edit_page_path(:id => @page.id, :type => "image") %>
    <% end %> 
  </p>
  <% end %>    
  </div>

  <div class="span2" style="text-align:right">
  <% if current_user.present? && !@follower %>       
      <%= button_to 'Add to Interests', follow_page_path(@page.id), :class => "btn btn-mini btn-default" %>
      <% else %>
        <p><span class="glyphicon icon-ok"></span> Following</p>
  <% end %>

  </div>
</div>

<hr>

<div class="row" style="padding-bottom:10px;">
    <div class="span1">
          <h5>Notes</h5>
  </div>
   
  <div class="span2" style="text-align:right">
    <% if current_user.present? && current_user.admin %> 
    <%= link_to 'Delete Page', page_path, :confirm => 'Are you sure you want to delete this page?', :method => :delete %>   
    <% end %>
  </div>
</div>


<div class="row">

<div class="span9">

<% if current_user.present? %> 
          <%= link_to "Add Notes", new_note_path(:id => @page.id), :class => "btn btn-mini btn-link" %>
            <% if current_user.present? %>
               <%= link_to "Add Books", new_book_path(:id => @page.id), :class => "btn btn-mini btn-link" %>
             <% end %>
      <% end %> 

      <% if @notes.any? %>
        <ol class="notes">
          <%= render @notes %>
        </ol>
          <%= will_paginate @notes %>
      <% else %>
        <div class="emptypage">
          <h5>No Notes yet...</h5>
          <p>Be the first one to write Notes to <%= @page.name %></p>
        </div>
      <% end %>

      <hr>
      <h5>Resources - Books
      </h5>

      <% if @books.any? %>  
        <p><br> <% @books.each do |book| %>
        <span class="glyphicon icon-book"></span> <%= book.author %> - <i><%= link_to book.name, book %></i></p>
        <% end %>
      <% else %> 
         <div class="emptypage">
              <h5>No Books</h5>
            </div> 
      <% end %>

  </div>

  <div class="span3" style="background:rgba(205, 205, 193, 0.2);min-height:800px;">
 <h6>Belongs to</h6>
 <% if @parentpages.any? %>  
  <p><% @parentpages.each do |parentpage| %>
  <%= link_to parentpage.name, parentpage %>
  <% end %>
 <% else %> 
  <%= link_to 'Main Index', "../pages#index" %>
 <% end %>
</p>
<hr>
 <h6>Subpages
  <% if current_user.present? %> 
  <%= link_to "+", new_page_path(:id => @page.id, :status => "subpage"), :class => "btn btn-mini btn-default" %>
  <% end %>
</h6>
 <% if @subpages.any? %> 
        <table>
          <tr>
            <% @subpages.each do |subpage| %>
              <tr>
                <td> <span class="glyphicon icon-chevron-right"></span> <%= link_to subpage.name, subpage %> </td>
              </tr>
            <% end %>
         </table>
      <% else %> 
      - No Subpages -          
    <% end %>
<hr>
<h6>Related Pages
  <% if current_user.present? %> 
  <%= link_to "+", new_page_path(:id => @page.id, :status => "relatedpage"), :class => "btn btn-mini btn-default" %>
  <% end %>
</h6>
<% if @relatedpages.any? %> 
        <table>
          <tr>
            <% @relatedpages.each do |relatedpage| %>
              <tr>
                <td width="20" style="padding-top:1px;padding-right:10px;"><%= link_to (image_tag relatedpage.image.url(:thumb)), relatedpage %></td>
                <td><%= link_to relatedpage.name, page_path(:id => relatedpage.id, :backlink => @page.name) %> </td>
              </tr>
            <% end %>
         </table>
       <% else %> 
       - No Related Pages -               
      <% end %>
  </div>

    

</div>

<% if current_user.nil? %>
  <div class="row">
    <div class="span8 offset2" style="margin-top:50px;border-style:solid;border-width:1px;padding:10px;">
      To edit Page you have to be <%= link_to "Signed in", signin_path %>.
    </div>
  </div>
<% end %>      
