<% provide(:title, @page.name) %>

<div class="container-full" style="background: url(<%= @page.coverimage.url %>);background-size:100%;background-repeat:no-repeat;background-position:center;">
  <div class="container">
    <div class="row" >
      <div class="col-md-10">
        <div class="cover-overlay-bg" style="margin-top:30px;margin-bottom:30px;height:60px;width:100%;">

          <h3><%= @page.name %></h3>
      
        </div>
      </div>

    <div class="col-md-2">
      <div class="cover-overlay-bg" style="margin-top:30px;margin-bottom:30px;height:60px;width:100%;text-align:right;">
        <% if current_user.present? && !@follower %>       
          <%= button_to 'Add to Interests', follow_page_path(@page.id), :class => "btn btn-xs btn-default" %>
        <% elsif current_user.present? %>
          <%= button_to 'Unfollow', unfollow_page_path(@page.id), :class => "btn btn-xs btn-default" %>      
        <% end %>

    <% if current_user.present? && current_user.admin %> 
      <%= link_to 'Delete Page', page_path, :confirm => 'Are you sure you want to delete this page?', :method => :delete %>   
    <% end %>

      </div>
    </div>


  </div>


  <div class="row" style="margin-bottom:10px;">
    <div class="col-md-6">

    <div class="cover-overlay-bg" style="height:100px;margin-bottom:30px;">


      <% if @page.definition.present? %>
          <p><%= @page.definition %>
            <% if current_user.present? %>
              (<%= link_to "Edit", edit_page_path(:id => @page.id) %>)</p>
            <% end %>
          </p>  
      <% else %>
        <% if current_user.present? %>
          <p><%= link_to "Describe " + @page.name, edit_page_path(:id => @page.id, :type => "definition")  %></p>
        <% end %>
      <% end %>  

      <% if current_user.present? %>
        <p><%= link_to "Add Cover Photo ", edit_page_path(:id => @page.id, :type => "cover")  %></p>
      <% end %>  


      </div>


    </div>

    <div class="col-md-3">
      <div class="cover-overlay-bg" style="margin-left:10px;margin-right:10px;height:100px;">
        <p>Notes<br>Resources<br>Experts</p>   
      </div>
    </div>
    
      <div class="col-md-3">
      <div class="cover-overlay-bg" style="height:100px;">
        <p>Subpages<br>Related Topics</p>   
      </div>
    </div>

  </div>

</div>
  </div>

<div class="container">
<div class="row" style="padding-top:20px;">
  <div class="col-md-7 col-md"> 
    <% if current_user.present? %>
      <%= link_to "New Note", new_note_path(:id => @page.id), :class => "btn btn-xs btn-primary" %>
    <% end %>
    <% if @notes.any? %>
        <h5>Notes</h5>  
        <%= render @notes %>
          <%= will_paginate @notes %>
    <% else %>  
          <p>No Notes Yet<br></p>   
    <% end %>
  </div>
</div>  

<div class="row">
  <div class="col-md-12 col-md">
    <% if @books.any? %>  
      <h5>Books</h5>     
        <p><% @books.each do |book| %>
        <span class="glyphicon icon-book"></span> <%= book.author %> - <i><%= link_to book.name, book %></i></p>
        <% end %>
    <% else %>
      <p>No Books Yet</p>
    <% end %>
    <% if current_user.present? %>
      <%= link_to "+", new_book_path(:id => @page.id), :class => "btn btn-xs btn-default" %>
    <% end %>
  </div>
</div>  

<div class="row">
  <div class="col-md-10 col-md">
    <div class="navigationbar">

     <% if @subpages.any? %> 
     <h5>Subpages</h5>
        <table style="margin-bottom:3px;">
          <tr>
            <% @subpages.each do |subpage| %>
              <tr>
                <td style="padding-top:1px;padding-right:10px;"><%= link_to (image_tag subpage.image.url(:thumb), :size => "20x20"), subpage %></td>
                <td><%= link_to subpage.name, page_path(:id => subpage.id) %> </td>
              </tr>
              <% end %>
        </table>
        <% if current_user.present? %> 
          <%= link_to "+", new_page_path(:id => @page.id, :status => "subpage"), :class => "btn btn-xs btn-default" %>
        <% end %>  
      <% else %> 
      <% if current_user.present? %>
        <h5>Subpages
          <br><br><%= link_to "+", new_page_path(:id => @page.id, :status => "subpage"), :class => "btn btn-xs btn-default" %>
          <br>
      <% else %>
      <p>No Subpages Yet<br></p>
      <% end %>
      </h5>        
    <% end %>
    <% if @relatedpages.any? %> 
        <h5>Related Pages
      </h5>    
        <table style="margin-bottom:3px;">
          <tr>
            <% @relatedpages.each do |relatedpage| %>
              <tr>
                <td style="padding-top:1px;padding-right:10px;"><%= link_to (image_tag relatedpage.image.url(:thumb), :size => "20x20"), relatedpage %></td>
                <td><%= link_to relatedpage.name, page_path(:id => relatedpage.id, :backlink => @page.name) %> </td>
              </tr>
            <% end %>
         </table>
         <% if current_user.present? %> 
           <%= link_to "+", new_page_path(:id => @page.id, :status => "relatedpage"), :class => "btn btn-xs btn-default" %>
         <% end %>
    <% else %> 
      <% if current_user.present? %>
        <h5>Related Pages
          <br><br><%= link_to "+", new_page_path(:id => @page.id, :status => "relatedpage"), :class => "btn btn-xs btn-default" %>
          <br><br>      
      <% else %>
      <p>No Related Pages Yet</p>
      <% end %>
      </h5> 
    <% end %>
    </div>  
  </div>        
</div> 

<% if current_user.nil? %>
  <div class="row">
    <div class="col-md-4 col-md" style="padding:10px;">
      <p>To add content to this Page you have to be <%= link_to "signed in", signin_path %></p>
    </div>
  </div>
<% end %>  
  </div>    